.all-posts {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

.wrapper {
      width: 30%;
      background-color: #fff;
      height: 80vh;
      padding: 0px 20px;
      overflow-y: scroll;
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none;
      border-radius: 20px;
    }
.wrapper::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }
  