.primaryButton {
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&h=1500&w=2000&q=100&fit=clip&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-weight: "600";
  cursor: pointer;
}
